# Assignment: Data Wrangling
## `! git clone https://github.com/DS3001/wrangling`
## Do Q2, and one of Q1 or Q3.

**Q1.** Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.

  1. Read the abstract. What is this paper about?
  2. Read the introduction. What is the "tidy data standard" intended to accomplish?
  3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, it’s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."
  4. Read Section 2.2. How does Wickham define values, variables, and observations?
  5. How is "Tidy Data" defined in section 2.3?
  6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?
  7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?
  8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?

RESPONSES:
1. This paper discusses how data cleaning is an integral part of data science/analysis, and tidy datasets are a significant component in this process. A tidy dataset requires each variable to be a column, each observation a row, and each type of observational unit to be a table. Structuring the data in this way, according to Wickham, makes it easier to create tools to input/output this kind of data and perform analyses.
2. The "tidy data standard" is intended to make data cleaning easier and more efficient by producing a standard organization for datasets - making it easier to produce/use tools for data analysis.
3. The first sentence suggests that because messy datasets are unique in their structure/problems, it is easier to deal with tidy datasets that are all similar in order to make meaning out of the data. The second sentence describes how it may be simple to discern a row (observation) from a column (variable) in a dataset, but making comparisons or relationships between observations and variables can be difficult.
4. Wickham explains that a dataset is a collection of values where a value is either a number or string that belongs to a variable. A variable is the collection of values measuring the same attribute (e.g., height). An observation is the values measured on the same unit across attributes (e.g., a person).
5. In tidy data, each variable makes a column, each observation makes a row, and each type of observational unit makes a table.
6. The five most common problems with messy datasets are (1) column headers are values instead of variable names, (2) multiple variables are stored in one column, (3) variables are stored in both rows and columns, (4) multiple types of observational units are stored in the same table, and (5) a single observational unit is stored in multiple tables. The data in Table 4 are messy because the column headers are actually values instead of variable names. In other words, the variables need to be transformed into their own columns (i.e., religion, income, and frequency need to be the three column headers in this dataset). This process is called melting - where columns are turned into rows. To melt this data, we would want to make income and frequency into their own columns. This results in a long dataset with each row being a type of religion, range of income, and frequency of values.
7. Table 11 is a messy dataset because some column headers are values instead of variable names (e.g., "d1", "d2"... are values instead of variables) and there are multiple variables stored in one column (e.g., "element" stores both tmax and tmin). Table 12a melts this data by making the days values into a single "date" variable. A new column for "value" is also created. However, this is still not tidy because the "element" column does not contain values. In Table 12b, the values from the previous "element" column are split into two separate variables - "tmax" and "tmin." This dataset is now tidy since each observation is a row and each variable is a column.
8. The "chicken-and-the-egg" problem with tidy data is that tidy data is only as useful as the tools that come with it, but this therefore makes tidy tools linked to tidy data itself. Since tidy tools are designed to work specifically with tidy data, the two are consequently dependent on each other. For example, changing only the tidy tools may not make these processes more efficient as this would also require changing the tidy data structure. Wickham hopes that the tidy data framework will be a starting point for data scientists to build more efficient processes/tools for wrangling data, even outside of the concept of tidying.

**Q2.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
2. Categorical variable: For the `./data/sharks.csv` data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.
3. Dummy variable: For the pretrial data covered in the lecture, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

In [1]:
import pandas as pd 
import numpy as np

In [2]:
# 1. Numeric variable: For ./data/airbnb_hw.csv, clean the Price variable as well as you can, and explain the choices you make. 
# How many missing values do you end up with? 
# (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
path = '/Users/Nata/Desktop/DS3001/wrangling/airbnb_hw.csv'

airbnb = pd.read_csv(path, low_memory=False)
airbnb.head()

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,6/26/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,6/26/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0

In [3]:
airbnb['Price'].unique()

array(['145', '37', '28', '199', '549', '149', '250', '90', '270', '290',
       '170', '59', '49', '68', '285', '75', '100', '150', '700', '125',
       '175', '40', '89', '95', '99', '499', '120', '79', '110', '180',
       '143', '230', '350', '135', '85', '60', '70', '55', '44', '200',
       '165', '115', '74', '84', '129', '50', '185', '80', '190', '140',
       '45', '65', '225', '600', '109', '1,990', '73', '240', '72', '105',
       '155', '160', '42', '132', '117', '295', '280', '159', '107', '69',
       '239', '220', '399', '130', '375', '585', '275', '139', '260',
       '35', '133', '300', '289', '179', '98', '195', '29', '27', '39',
       '249', '192', '142', '169', '1,000', '131', '138', '113', '122',
       '329', '101', '475', '238', '272', '308', '126', '235', '315',
       '248', '128', '56', '207', '450', '215', '210', '385', '445',
       '136', '247', '118', '77', '76', '92', '198', '205', '299', '222',
       '245', '104', '153', '349', '114', '320', '292', '226', '420',
       '500', '325', '307', '78', '265', '108', '123', '189', '32', '58',
       '86', '219', '800', '335', '63', '229', '425', '67', '87', '1,200',
       '158', '650', '234', '310', '695', '400', '166', '119', '62',
       '168', '340', '479', '43', '395', '144', '52', '47', '529', '187',
       '209', '233', '82', '269', '163', '172', '305', '156', '550',
       '435', '137', '124', '48', '279', '330', '5,000', '134', '378',
       '97', '277', '64', '193', '147', '186', '264', '30', '3,000',
       '112', '94', '379', '57', '415', '236', '410', '214', '88', '66',
       '71', '171', '157', '545', '1,500', '83', '96', '1,800', '81',
       '188', '380', '255', '505', '54', '33', '174', '93', '740', '640',
       '1,300', '440', '599', '357', '1,239', '495', '127', '5,999',
       '178', '348', '152', '242', '183', '253', '750', '259', '365',
       '273', '197', '397', '103', '389', '355', '559', '38', '203',
       '999', '141', '162', '333', '698', '46', '360', '895', '10', '41',
       '206', '281', '449', '388', '212', '102', '201', '2,750', '4,750',
       '432', '675', '167', '390', '298', '339', '194', '302', '211',
       '595', '191', '53', '361', '480', '8,000', '4,500', '459', '997',
       '345', '216', '218', '111', '735', '276', '91', '490', '850',
       '398', '36', '775', '267', '625', '336', '2,500', '176', '725',
       '3,750', '469', '106', '460', '287', '575', '227', '263', '25',
       '228', '208', '177', '880', '148', '116', '685', '470', '217',
       '164', '61', '645', '699', '405', '252', '319', '268', '419',
       '343', '525', '311', '840', '154', '294', '950', '409', '184',
       '257', '204', '241', '2,000', '412', '121', '288', '196', '900',
       '647', '524', '1,750', '309', '510', '1,495', '1,700', '799',
       '383', '372', '492', '327', '1,999', '656', '224', '173', '875',
       '1,170', '795', '690', '146', '465', '1,100', '151', '274', '429',
       '825', '282', '256', '1,111', '620', '271', '161', '51', '855',
       '579', '1,174', '430', '20', '899', '649', '485', '181', '455',
       '4,000', '243', '342', '590', '560', '374', '437', '232', '359',
       '985', '31', '244', '254', '723', '237', '428', '370', '34',
       '1,400', '580', '2,520', '221', '749', '1,600', '2,695', '306',
       '202', '680', '570', '520', '223', '2,295', '213', '1,065', '346',
       '24', '286', '296', '266', '26', '995', '1,368', '393', '182',
       '635', '258', '780', '589', '347', '1,250', '1,350', '446',
       '3,200', '1,050', '1,650', '1,550', '975', '323', '6,500', '2,499',
       '1,850', '2,250', '715', '461', '540', '356', '439', '384', '569',
       '1,900', '22', '785', '626', '830', '318', '444', '321', '401',
       '1,499', '888', '369', '770', '386', '366', '344', '630', '313',
       '597', '262', '509', '10,000', '278', '312', '789', '1,195', '422',
       '21', '765', '3,500', '945', '326', '3,100', '2,486', '3,390',
       '1,356', '2,599', '472', '454', '328', '396', '291'], dtype=object)

In [4]:
# remove comma from values over 999 and convert to numeric so we can analyze this data properly
price = airbnb['Price']
price = price.str.replace(",","")
price.unique()
price = pd.to_numeric(price, errors='coerce')
missing = sum(price.isnull())
print(missing) # no missing values

0

In [5]:
# 2. Categorical variable: For the ./data/sharks.csv data covered in the lecture, 
# clean the "Type" variable as well as you can, and explain the choices you make.
path = '/Users/Nata/Desktop/DS3001/wrangling/sharks.csv'

sharks = pd.read_csv(path, low_memory=False)
sharks.head()

,index,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,0,2020.02.05,05-Feb-2020,2020.0,Unprovoked,USA,Maui,NaN,Stand-Up Paddle boarding,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2020.01.30.R,Reported 30-Jan-2020,2020.0,Provoked,BAHAMAS,Exumas,NaN,Floating,Ana Bruna Avila,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2020.01.17,17-Jan-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,Windang Beach,Surfing,Will Schroeter,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2020.01.16,16-Jan-2020,2020.0,Unprovoked,NEW ZEALAND,Southland,Oreti Beach,Surfing,Jordan King,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2020.01.13,13-Jan-2020,2020.0,Unprovoked,USA,North Carolina,"Rodanthe, Dare County",Surfing,Samuel Horne,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
sharks['Type'].unique()

array(['Unprovoked', 'Provoked', 'Questionable', 'Watercraft',
       'Unconfirmed', 'Unverified', 'Invalid', 'Under investigation',
       'Boating', 'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [7]:
sharks['Type'].value_counts()

Type
Unprovoked             4716
Provoked                593
Invalid                 552
Sea Disaster            239
Watercraft              142
Boat                    109
Boating                  92
Questionable             10
Unconfirmed               1
Unverified                1
Under investigation       1
Boatomg                   1
Name: count, dtype: int64

In [8]:
types = sharks['Type']

# consolidate categories -- especially questionable categories that only have a few values 
# this makes it easier to analyze the data 
types = types.replace(['Boat','Boating','Boatomg','Watercraft','Sea Disaster'],'Sea Disaster') 
types = types.replace(['Invalid', 'Questionable','Unconfirmed','Unverified','Under investigation'],'Questionable')

sharks['Type'] = types
del types

sharks['Type'].value_counts()

Type
Unprovoked      4716
Provoked         593
Sea Disaster     583
Questionable     565
Name: count, dtype: int64

In [9]:
# 3. Dummy variable: for pretrial data, clean WhetherDefendantWasReleasedPretrial` variable as well as you can, 
# and, in particular, replace missing values with `np.nan`.

path = '/Users/Nata/Desktop/DS3001/wrangling/justice_data.parquet'

pretrial = pd.read_parquet(path, engine='pyarrow')
pretrial.head()

,InternalStudyID,REQ_REC#,Defendant_Sex,Defendant_Race,Defendant_BirthYear,Defendant_Age,Defendant_AgeGroup,Defendant_AgeatCurrentArrest,Defendant_AttorneyTypeAtCaseClosure,Defendant_IndigencyStatus,...,NewFelonySexualAssaultArrest_OffDate,NewFelonySexualAssaultArrest_ArrestDate,NewFelonySexualAssaultArrest_DaysBetweenContactEventandOffDate,NewFelonySexualAssaultArrest_DaysBetweenOffDateandArrestDate,NewFelonySexualAssaultArrest_DaysBetweenReleaseDateandOffDate,NewFelonySexualAssaultArrest_Disposition,Intertnalindicator_ReasonforExcludingFromFollowUpAnalysis,CriminalHistoryRecordsReturnedorCMSRecordsFoundforIndividual,DispRecordFoundforChargesinOct2017Contact_Atleast1dispfound,CrimeCommission2021ReportClassificationofDefendants
0,ADI00001,1,M,W,1986,31,3,31,99,99,...,,,,999,999,,4,1,0,Defendant could not be classified or tracked d...
1,ADI00007,3,M,B,1956,60,6,60,9,9,...,,,,999,999,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...
2,ADI00008,4,M,W,1990,27,3,27,9,9,...,,,,999,999,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...
3,CDI00036,6,M,B,1989,27,3,27,0,0,...,,,,999,999,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...
4,CDI00038,7,F,W,1988,28,3,28,0,0,...,,,,999,999,,0,1,1,New criminal offense punishable by incarcerati...

In [10]:
pretrial['WhetherDefendantWasReleasedPretrial'].unique()
# from codebook: 
    # Not released 0
    # Released 1
    # Unclear 9

array([9, 0, 1])

In [11]:
pretrial['WhetherDefendantWasReleasedPretrial'].value_counts()

WhetherDefendantWasReleasedPretrial
1    19154
0     3801
9       31
Name: count, dtype: int64

In [12]:
labels = pretrial['WhetherDefendantWasReleasedPretrial']

# replace type 9 with NaN
labels = labels.replace([9],np.nan)
NAs = sum(labels.isnull())

pretrial['WhetherDefendantWasReleasedPretrial'] = labels
del labels

counts = pretrial['WhetherDefendantWasReleasedPretrial'].value_counts()
print(NAs)
print(counts)

31
WhetherDefendantWasReleasedPretrial
1.0    19154
0.0     3801
Name: count, dtype: int64

In [13]:
# 4. Missing values, not at random: For the pretrial data covered in the lecture, 
# clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. 
# (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

In [14]:
pretrial['SentenceTypeAllChargesAtConvictionInContactEvent'].unique()

array([9, 0, 1, 4, 2])

In [15]:
sentences = pretrial['ImposedSentenceAllChargeInContactEvent']
types = pretrial['SentenceTypeAllChargesAtConvictionInContactEvent']
# from codebook: 
    # Probation/no incarceration: 0
    # Jail up to 12 months: 1
    # Prison (one year or more): 2
    # Other, all charges in cohort contact resulted in pending, dismissed, deferred, etc.: 4
    # Not applicable (e.g., disposition record not found, or unknown): 9
sentences = pd.to_numeric(sentences,errors='coerce') # first coerce values to numeric 
NAs = sum(sentences.isnull())
print(NAs)
sentences = sentences.replace(" ", np.nan) # some values are just " ", make these NaN 
sentences = sentences.mask(types == 4,0) # type 4 corresponds to charges that resulted in pending/dismissed, make these 0 
sentences = sentences.mask(types == 9,np.nan) # type 9 corresponds to NAs, make these NaN 
NAs = sum(sentences.isnull())
print(NAs)

pretrial['ImposedSentenceAllChargeInContactEvent'] = sentences
del sentences, types

9053
274

**Q3.** Many important datasets contain a race variable, typically limited to a handful of values often including Black, White, Asian, Latino, and Indigenous. This question looks at data gathering efforts on this variable by the U.S. Federal government.

1. How did the most recent US Census gather data on race?
2. Why do we gather these data? What role do these kinds of data play in politics and society? Why does data quality matter?
3. Please provide a constructive criticism of how the Census was conducted: What was done well? What do you think was missing? How should future large scale surveys be adjusted to best reflect the diversity of the population? Could some of the Census' good practices be adopted more widely to gather richer and more useful data?
4. How did the Census gather data on sex and gender? Please provide a similar constructive criticism of their practices.
5. When it comes to cleaning data, what concerns do you have about protected characteristics like sex, gender, sexual identity, or race? What challenges can you imagine arising when there are missing values? What good or bad practices might people adopt, and why?
6. Suppose someone invented an algorithm to impute values for protected characteristics like race, gender, sex, or sexuality. What kinds of concerns would you have?